@font-face{
	font-family: "Quicksand";
	src:url("../fonts/Quicksand-Light.ttf");
	font-weight: 300;
}

@font-face{
	font-family: "Quicksand";
	src:url("../fonts/Quicksand-Regular.ttf");
	font-weight: 400;
}

@font-face{
	font-family: "Quicksand";
	src:url("../fonts/Quicksand-Medium.ttf");
	font-weight: 500;
}

@font-face{
	font-family: "Quicksand";
	src:url("../fonts/Quicksand-SemiBold.ttf");
	font-weight: 600;
}

@font-face{
	font-family: "Quicksand";
	src:url("../fonts/Quicksand-Bold.ttf");
	font-weight: 700;
}

@font-face{
	font-family: "Sniglet";
	src:url("../fonts/Sniglet-Regular.ttf");
	font-weight: 400;
}

@font-face{
	font-family: "Sniglet";
	src:url("../fonts/Sniglet-ExtraBold.ttf");
	font-weight: 800;
}

@font-face{
	font-family: "FredokaOne";
	src:url("../fonts/FredokaOne-Regular.ttf");
	font-weight: 400;
}

*{
  box-sizing: border-box;
}

ul{
	margin: 0;
	padding: 0;

	list-style: none;
}

body{
	height: 100vh;
}

.button{
	display: inline-block;
	border: none;
}

ul{
	margin: auto;
}

a{
	color: white;
}

a:hover{
	text-decoration: none;
}

/* Header */

.header{
	/* height: 500px; */
	width: 100%;
  background: linear-gradient(#685b99,#bf527b);
}

.header-nav{
  padding: 27px 0 20px 0;
  max-height: 78px;
}

.header-nav__logo{
	font-family: "Sniglet";
	font-size: 30px;
	font-weight: 800;
	color: white;
	text-transform: uppercase;
}

/* Header-Navigation dropdown */

.header-nav__list{
  display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
}

.header-nav__item{
  flex: 1;
	position: relative;
}

.header-nav__item a{
	display: block;

	text-decoration: none;
	font-weight: bold;
	color: white;
}

/* TODO: Разобраться с шрифтами на навигации без задействования дополнительных классов */

.header-nav__item .nav-menu__dropdown-list {
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	padding: 0;
	border: 1px solid gray;
	border-radius: 5px;

	list-style: none;
	background: #8d5a93;
	color: black;
}

.header-nav__item:focus-within .nav-menu__dropdown-list { display: initial; }

.header-nav__item:focus .nav-menu__dropdown-list { display: initial; }

nav a:focus {
	opacity: 0.8;
	color: white
}


.header-nav__item > .fa{
	font-size: 25px;
}

.header-nav > *{
	align-self: center;
}

.header-nav_delimetr{
	margin-top: 10px;
	border: 1px solid #7e6ca3;
}

/* Slider styles */

.slider{
	min-height: 382px;
	max-height: 646px;
	width: inherit;
}

.slide-item{
	display: none;

	height: 100%;
}

/* TODO: Реализовать слайдер */

.active-slide{
	display: flex;
	justify-content: flex-end;

	color: white;
}

.slide-item__info{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.slide-list{
	margin: 0;
}

.button__more{
	width: 152px;
	height: 40px;
	border: 1px solid #deacc6;
	border-radius: 10px;
	margin: 0 auto;

	font-size: 14px;
	line-height: 36px;

	text-transform: uppercase;
}


/* Index */
/* Products */
.products{
	background: #262a32;

	padding: 50px 0 69px 0;
}

.products-case{
	border: 1px solid white;
	border-radius: 5px;
	padding-right: 14px;
	padding-left: 14px;

	background: white;
}

.product-item{
	padding: 0;
}

.products__popular{
	margin-bottom: 30px;
}

.products__popular-title{
	font-size: 24px;
	line-height: 60px;
}

.product-item__info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	padding: 14px 0 33px 0;
}

.product__name{
	margin-bottom: 10px;
}

.product_image{
	width: 100%;
	height: 249px;
	border: none;
	background: grey;
}

/* Footer */

.footer{
	background: white;
	color: #2c3e50;
}

/* Banner */

.banner{
	height: 400px;
	background-color: #555555;
}

.banner__text{
	width: 150px;
	margin: 0 auto;
}



/* CRUD rules */

.form{
	display: flex;
	flex-direction: column;


	margin: 0 auto;
	width: 600px;
}

.form > input[type="checkbox"]{
	align-self: flex-start;
}

.form-div__wrapper{
	display: flex;
	gap: 20px;
}

.form-div__wrapper-title{
	font-weight: 700;
}

/* TODO: AdminPanel Rules */

.AdminPanel-title{
	color: black;
}