@font-face{
	font-family: "Quicksand";
	src:url("../fonts/Quicksand-Light.ttf");
	font-weight: 300;
}

@font-face{
	font-family: "Quicksand";
	src:url("../fonts/Quicksand-Regular.ttf");
	font-weight: 400;
}

@font-face{
	font-family: "Quicksand";
	src:url("../fonts/Quicksand-Medium.ttf");
	font-weight: 500;
}

@font-face{
	font-family: "Quicksand";
	src:url("../fonts/Quicksand-SemiBold.ttf");
	font-weight: 600;
}

@font-face{
	font-family: "Quicksand";
	src:url("../fonts/Quicksand-Bold.ttf");
	font-weight: 700;
}

@font-face{
	font-family: "Sniglet";
	src:url("../fonts/Sniglet-Regular.ttf");
	font-weight: 400;
}

@font-face{
	font-family: "Sniglet";
	src:url("../fonts/Sniglet-ExtraBold.ttf");
	font-weight: 800;
}

@font-face{
	font-family: "FredokaOne";
	src:url("../fonts/FredokaOne-Regular.ttf");
	font-weight: 400;
}

ul{
	margin: 0;
	padding: 0;

	list-style: none;
}

body{
	/* color: white; */
	font-family: "Quicksand";
	font-size: 15px;
	font-weight: 400;
}

.button{
	font-family: "Sniglet";
	display: inline-block;
	width: 90px;
	height: 35px;
	border: none;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
}

.button__buy{
	background: #fc8507;
}

.button__buy-big{
	width: 120px;
	height: 50px;

	font-size: 20px;
}

.button__buy:hover{
	box-shadow: 0px 0px 5px 1px #e98922;
}

.button-search{
	width: 100%;
}

a{
	color: white;
}

a:hover{
	text-decoration: none;
}

/* Header */

.header{
	/* height: 500px; */
	width: 100%;
  background: rgb(0,81,132);
}

.header-nav{
  padding: 27px 0 20px 0;
  max-height: 78px;
}

.header-nav__logo{
	font-family: "Sniglet";
	font-size: 30px;
	font-weight: 800;
	color: white;
	text-transform: uppercase;
}

/* Header-Navigation dropdown */

.header-nav__list{
  display: flex;
	justify-content: space-between;

	list-style: none;
}

.header-nav__item{
  /* flex: 1; */
	position: relative;
}

.header-nav__item a{
	display: block;

	text-decoration: none;
	font-weight: bold;
	color: white;
}

/* TODO: Разобраться с шрифтами на навигации без задействования дополнительных классов */

.header-nav__item .nav-menu__dropdown-list {
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	padding: 0;
	border: 1px solid gray;
	border-radius: 5px;

	list-style: none;
	background: #8d5a93;
	color: black;
}

.header-nav__item:focus-within .nav-menu__dropdown-list { display: initial; }

.header-nav__item:focus .nav-menu__dropdown-list { display: initial; }

nav a:focus {
	opacity: 0.8;
	color: white
}


.header-nav__item > .fa{
	font-size: 25px;
}

.header-nav > *{
	align-self: center;
}

.header-nav_delimetr{
	margin-top: 10px;
	border: 1px solid #7e6ca3;
}

/* Slider styles */

.slider{
	min-height: 382px;
	max-height: 646px;
	width: inherit;
}

.slide-item{
	display: none;

	height: 100%;
}

/* TODO: Реализовать слайдер */

.active-slide{
	display: flex;
	justify-content: flex-end;

	color: white;
}

.slide-item__info{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.slide-list{
	margin: 0;
}

.button__more{
	width: 152px;
	height: 40px;
	border: 1px solid #deacc6;
	border-radius: 10px;
	margin: 0 auto;

	font-size: 14px;
	line-height: 36px;

	text-transform: uppercase;
}


/* Index */
/* Products */

.products__popular-title{
	text-align: center;
}

.products{
	background: #262a32;

	padding: 50px 0 69px 0;
}

.products-case{
	border: 1px solid white;
	border-radius: 5px;
	padding-right: 14px;
	padding-left: 14px;

	background: white;
}

.product-item{
	padding: 0;
}

.products-tab{
	margin-left: -15px;
	background: #262a32;
	margin-top: -1px;
	margin-right: -17px;
}

.products-tab__title{
	border-radius: 5px 5px 0 0;
	background: rgb(0,81,132);
	display: inline;	
	font-size: 28px;
	padding: 0 12px;

	color: white;
}

.catalog-product__item-button{
	align-self: start;
}

.products-list{
	justify-content: start;
	margin-bottom: -1px;
}

.product__name{
	color: white;
}

.product__price{
	color: white;
}

.product-item > img{
	border: 2px solid RGB(77,137,140)
}

.products-list{
	padding: 10px 15px;

	background: rgb(0,81,132);
}

.products__popular{
	margin-bottom: 30px;
}

.products__popular-title{
	color: white;
	font-size: 24px;
	line-height: 60px;
}

.product-item__info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	padding: 14px 0 33px 0;
}

.product-item__img{
	height: 170px;
	width: 230px;
}

.product__name{
	margin-bottom: 10px;
}

.product_image{
	width: 100%;
	height: 249px;
	border: none;
	background: grey;
}

/* Filter Products */

.filter-form{
	padding: 10px 5px;
}

.filter-form fieldset{
	margin-bottom: 15px;
}

.button-search{
	background: green;
	font-weight: 600;
}

/*------------------------*/

/* Product card */

.product-card{
	background: #262a32;
	color: #fff;
}

.product-card__wrapper{
	padding: 30px 0;
}

.product-info__field{
	font-size: 18px;
	font-weight: bold;
}

.product-info__field span{
	font-weight: 400;
}

.product-buing__price{
	margin-right: 30px;

	font-size: 35px;
	font-weight: bold;
}

.product-buying{
	margin-top: 30px;
}
/*--------------------------*/

/* Footer */

.footer{
	background: gray;
	color: #2c3e50;
}

/* Banner */

.banner{
	height: 400px;
	background-color: #555555;
}

.banner__text{
	width: 150px;
	margin: 0 auto;
}

/* Catalog */

.catalog{
	padding: 0 35px 25px 35px;
	margin: 0;

	background: #262a32;
	color: white;
}

.catalog-product__title{
	margin: 15px auto;

	color: white;
}

.catalog-sorting {
	margin: 15px 0;
}

.catalog-sorting__list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 430px;
	text-transform: uppercase;
}

.catalog-sorting__item--active{
	color: rgb(22, 117, 177);
}

.catalog-sorting__item--down {
	display: block;
	width: 0;
	height: 0;
	border-top: 15px solid RGBA(255,255,255,1);
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	margin-left: 48px;
}

.catalog-sorting__item--up {
	display: block;
	width: 0;
	height: 0;
	border-right: 8px solid transparent;
	border-bottom: 15px solid RGBA(255,255,255,1);
	border-left: 8px solid transparent;
}

.catalog-sorting__item--down-active{
	border-top: 15px solid RGBA(22, 117, 177,1);
}

.catalog-sorting__item--up-active{
	border-bottom: 15px solid RGBA(22, 117, 177,1);
}

.catalog-filter{
	margin-top: 78px;
	background: rgb(22, 117, 177);
}

/* CRUD rules */

.form{
	display: flex;
	flex-direction: column;


	margin: 0 auto;
	width: 600px;
}

.form > input[type="checkbox"]{
	align-self: flex-start;
}

.form-div__wrapper{
	display: flex;
	gap: 20px;
}

.form-div__wrapper-title{
	font-weight: 700;
}

/* TODO: AdminPanel Rules */

.AdminPanel-title{
	color: black;
}


/* Singup */

.form{
	margin: 20px auto 20px auto;
}

.form label{
	margin-bottom: 15px
}

.form button{
	margin-top: 35px;
}